.arrow-button {
    font-size: 10px;
    padding: 2px 10px;
    margin: 0 10px;
    height: 25px;
  }
  

  .arrow-button {
    font-size: 10px;
    padding: 2px 10px;
    margin: 0 10px;
    height: 25px;
}

/* CSS */
/* CSS */
.circular-button {
    width: 40px;
    /* Adjust the size as needed */
    height: 40px;
    /* Should be the same as width for a perfect circle */
    border: 2px solid #000;
    /* You can customize the border color */
    border-radius: 50%;
    /* Makes the button circular */
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    /* Customize the font as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the image within the button */
.circular-button img {
    max-width: 100%;
    /* Ensure the image fits within the button */
    max-height: 100%;
    /* Ensure the image fits within the button */
}

footer {
    position: fixed;
    /*force the footer to not move regardless of what else is going on on the page*/
    bottom: 0;
    /* Make sure it stays at the bottom of the page */
    background-color: black;
    display: flex;
    /*need this to be a flex to work with justify-content/align-items*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.svg-container {
    display: flex;
    /* Allows us to position things inside this div with more freedom, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for more details*/
    flex-grow: 1;
}

/* .x-axis-text{
    font-size: "30px";
} */